@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Roboto','Source Sans Pro', sans-serif;
}

:root{
  --background-header: #4a4a4a;
  --background-page: #0c0c0c;
  --color-1: #e50914;
  --color-2: #fff;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Renderizando a página e tirando barra de rolagem horizontal*/
body {
  width: 100%;
  min-width: 10%;
  text-align: center;
  background-color: var(--background-page);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-header);
}

a{
  text-decoration: none;
}

#barra-pesquisa {
  width: 30%;
  height: 40px;
  font-size: 1rem;
  text-indent: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  position: relative;
}

#barra-pesquisa::-webkit-search-cancel-button{
  position: absolute;
  right: 10%;
}

/*Ao clicar na barra de pesquisa aparece uma borda vermelha*/
#barra-pesquisa:focus{
  border: 2px solid var(--color-1);
  transition: 0.2s ease-in-out;
}

/*Posicionando a lupa de pesquisa dentro da barra de pesquisa*/
.lupa-pesquisa {
  position: absolute;
  right: 33%;
  font-size: 1rem;
  cursor: pointer;
}

.menus-filmes ul li{
  display: inline-block;
  list-style: none;
  margin: 10% 3%;
}

.menus-filmes ul li a{
  font-size: 20px;
  text-align: center;
  color: var(--color-2);
}

/*Posicionando o botão de login no topo e à direita da página*/
.button-login {
  width: 85px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: var(--color-1);
  border: 4px solid var(--color-1);
  background: var(--color-2);
  border: none;
  font-size: 18px;
}

.button-login:hover{
  color: var(--color-2);
  background: var(--color-1);
  transition: 0.5s;
}

/*Posicionando a logo à esquerda*/ 
.page-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  color: var(--color-1);
}

.page-subtitle {
  color: var(--color-2);
  margin-top: 5px;
}

.container-logo-imersao-dev{
  text-align: center;
}

/*Centralizando a logo da Imersão Dev*/
.logo-imersao-dev {
  width: 12.5rem;
  position: absolute;
  top: 17%;
  right: 41%;
}

.section-previas-filmes{
  width: 100%;
}

.section-previas-filmes h2,.section-lista-filmes h2{
  color: var(--color-2);
  text-align: left;
  margin: 12px 50px;
}

.img-previas-filmes{
  width: 8rem;
  height: 8rem;
  clip-path: circle();
  margin: 20px 10px;
  background: var(--color-2);
  cursor: pointer;
}

.img-previas-filmes:hover{
  opacity: 0.9;
}

#nome-lista-filmes{
  color: var(--color-2);
}

/*Fixando o botão de voltar ao topo à direita e na parte de baixo da página*/
.return-topo {
  width: 2.2rem;
  height: 2.2rem;
  clip-path: circle();
  border: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100px);
}

.return-topo.show-button{
  transform: translateY(0);
}

/*Ao passar o mouse sobre o botão seu tamanho aumenta*/
.return-topo:hover{
  transform: scale(1.1);
}

.return-topo i{
  font-size: 20px;
  padding: 8px 0;
}

.container-lista-filmes{
  display: flex;
  position: relative;
}

.img-lista-filmes {
  margin: 2rem 10px;
  border-radius: 5px;
  cursor: pointer;
}

/*Ao passar o mouse sobre as imagens dos filmes fica mais opaca a imagem*/
.img-lista-filmes:hover{
  opacity: 0.9;
}

#nome-lista-filmes{
  position: absolute;
  bottom: -1rem;
  text-align: center;
  left: 3rem;
}